html {
  box-sizing: border-box;
  background-color: #f0eee8;
  line-height: 1.5;
}

body {

  margin: .5rem;
}

.btn {
  font-family: "Dosis", sans-serif;
  display: inline-block;
  border-radius: 8px;
  padding: .5em .75em;
  background-color: #785439;
  color: #fff;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-weight: bold;
  font-family: "Dosis", sans-serif;
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

dl dd {
  margin: 0;
  display: inline-block;
  width: 45%;
  font-size: .875rem;
}

dl dt {
  display:inline-block;
  width: 45%;
  font-size: .875rem;
}

.link-card {
  color: #512200;
  text-decoration: none;
  font-family: "Georgia", serif;
  border-color: #9a816d;
  width: 100%;
  padding: 1rem;
  display: inline-block;
  border-style: solid;
  background-color: #dcd4cd;
  border-radius: 8px;
  border-width: 3px;

}

.link-card:hover {
  background-color: #cabdb2;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  text-align: center;
}
